[project]
	description = Simple Git command-line library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/stevebutler-hsdg
[access "refs/for/refs/*"]
	read = group user/stevebutler-hsdg
	push = group user/stevebutler-hsdg
	label-Code-Review = -2..+2 group user/stevebutler-hsdg
	label-Verified = -1..+1 group user/stevebutler-hsdg
	rebase = group user/stevebutler-hsdg
	removeReviewer = group user/stevebutler-hsdg
	submit = group user/stevebutler-hsdg
[access "refs/heads/*"]
	read = group user/stevebutler-hsdg
	create = group user/stevebutler-hsdg
	push = +force group user/stevebutler-hsdg
	pushMerge = group user/stevebutler-hsdg
[access "refs/tags/*"]
	push = +force group user/stevebutler-hsdg
	pushTag = group user/stevebutler-hsdg
	pushSignedTag = group user/stevebutler-hsdg
